 <%= render template: "layouts/user_time_reports" %>
<br>
<h2>Time Report Break down for last two weeks : </h2>
  <br>
 
<% content_for :header_tags do %>
  <%= javascript_include_tag "jquery-ui", plugin: 'redmine_leaves'  %>
  <%= javascript_include_tag "wice_grid", plugin: 'redmine_leaves'  %>

  <%= stylesheet_link_tag 'wice_grid', plugin: 'redmine_leaves' %>
<% end %>





<div class="autoscroll " style=" width:20000">
  <%= render partial: 'my_time', locals: {my_time: @my_time}%>
  <%=render partial: 'my_time_filter'%>

  <br>
  <div id="main_grid" class="autoscroll" >
  
      <%= render_grid(@my_time)%>
    </div>


</div>

